{% extends 'base.html' %}
{% block title %}{{ gettext('Admin Stats') }} - {{ gettext('Cyber Safe Zambia') }}{% endblock %}
{% block content %}
<h1>{{ gettext('Usage Statistics') }}</h1>
<table class="table">
    <thead>
        <tr>
            <th>{{ gettext('Tool') }}</th>
            <th>{{ gettext('Usage Count') }}</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>{{ gettext('Phishing Detector') }}</td><td>{{ stats.phishing }}</td></tr>
        <tr><td>{{ gettext('Password Strength Checker') }}</td><td>{{ stats.password_strength }}</td></tr>
        <tr><td>{{ gettext('Secure Password Generator') }}</td><td>{{ stats.password_generator }}</td></tr>
        <tr><td>{{ gettext('Data Breach Checker') }}</td><td>{{ stats.breach_checker }}</td></tr>
        <tr><td>{{ gettext('Malware Scanner') }}</td><td>{{ stats.malware_scanner }}</td></tr>
    </tbody>
</table>
{% endblock %}